body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #800000;
}

.category-aktif {
  background-color: #800000;
  color: whitesmoke
}

.btn-danger {
  background-color: #800000;
  border: 0;
}

.keranjang {
  height: 65vh;
}

.menu {
  height: 75vh;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}